:root {
    --primary-color: black;
    --bg-color: #f1f2f3;
    --white: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

body {
font-family: 'Inter';
}

.cta {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--white);
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: inherit;
}